* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  
}

.container {
  height: 100vh;
  background-color:#445e93;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  text-align: center;
  font-size: 3rem;
}
.board {
  margin-top: 30px;
 
  height: 60vh;
  width: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.box {
  text-align: center;
    background-color: white;
    color: black;
  font-size: 9rem;
  border: 2px solid black;
}
.reset{
    margin-top: 20px;
    padding: 5px;
    font-size: 2rem;
    border-radius: 10px;
}
a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin-top: 20px;
}
